*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    cursor: default;
}

body{
    background-color: #254E70;
}
 
header {
    display: flex;
    height: fit-content;
    padding-top: 1vw; padding-bottom: 1vw;
    width: 100%;
    background-color: #8EE3EF;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}
 
li{
    list-style-type: none;
}

a{
    cursor: pointer;
}

.underline:hover{
    text-decoration: underline;
}

.black{
    color: #000000;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar {
    gap: 2vw;
    display: flex;
    height: 2vw;
    width: fit-content;
    background-color: #8EE3EF;
    align-items: center;
    justify-content: center;
}
 
.header-sides-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 24vw;
}
 
.menu-text {
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    border-bottom: #f26430 solid 0.3vw;
    transition: all 0.3s ease-out;
}.menu-text:hover{
    border-bottom: #f26430 solid 0.5vw;
    transition: all 0.3s ease-in;
}
 
.naam-reisbureau{
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}
 
.reisbureau-logo{
    width: 6vw;
    height: 6vw;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border-radius: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    background-color: #f26430;
    transition: all 0.3s ease-out;
}.login:hover{
    font-size: 1.3vw;
    transition: all 0.3s ease-in;
}

.footer{
    display: flex;
    height: fit-content;
    padding-top: 1vw; padding-bottom: 1vw;
    width: 100%;
    background-color: #8EE3EF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}

.footer-container{
    align-items: center;
    justify-content: center;
    width: 33vw;
    gap: 4vw;
}

.footer-links:hover{
    text-decoration: underline;
}

.footer-image{
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}

/* over-ons */

.over-ons-cont{
    background-color: #FFFFFF;
    border-radius: 2vw;
    width: 50vw;
    height: fit-content;
    margin: 5vw auto;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.over-ons-cont h1{
    font-family: Arial, Helvetica, sans-serif;;
}

.over-ons-cont span{
    font-family: Arial, Helvetica, sans-serif;;
}

/* Login */

.login-form{
    background-color: #AEF3E7;
    border-radius: 2vw;
    width: 30vw;
    height: fit-content;
    margin: 5vw auto;
    padding: 3vw;
    gap: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.login-button{
    width: 10vw;
    padding: 1vw;
    border-radius: 2vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    background-color: #37718ed3;
    cursor: pointer;
    transition: all 0.3s ease-out;
}.login-button:hover{
    background-color: #37718E;
    transition: all 0.3s ease-in;
}

.login-input{
    width: 100%;
    padding: 1vw;
    border-radius: 2vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    cursor: text;
}.login-input:hover{
    outline: 0.2vw solid #37718E;
}.login-input:focus{
    outline: 0.2vw solid #37718E;
}.login-input::placeholder{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.login-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #000000;
}

.login-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    color: #000000;
    text-align: center;
}

/* Register */

.signup-forgot-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: #000000;
    padding: 1vw;
    border-radius: 2vw;
    background-color: #AEF3E7;
    width: fit-content;
}

.signup-forgot-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 4.5vw;
    margin-bottom: 5vw;
}
/* Contact formulier */

.form-cont{
    margin: auto;
}

.formulier-box{
    width: 30vw;
    height: 3vw;
    background-color: #FFFFFF;
    border-color: #000000;
    border: solid;
    border-radius: 2vw;
}